:root {

    --main-blue-vesion2:#0e4067;
    --secondary: 14, 64, 103;
    --text--primary: #262626;
    --gray--text: #8C8C8C;
    --back-ground-white: #f5f5f5;
    --text-color-white: #ffff;
    --text-dark-blue: #0e4067;
    --back-buttun-blue: #0e4067;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  min-width: 100%;
  font-family: 'Poppins', sans-serif !important;
}

.popular {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-blue-vesion2);
  margin: 1rem;
}


.appointmets .appointmets-container{
  overflow-y: scroll;
  display: flex;
}
.appointmets .appointmets-container::-webkit-scrollbar {
  display: none;
}

.top-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-blue-vesion2);
  margin: 1rem;
  width: fit-content;
  border-bottom: 1px solid rgb(14 64 103);
}
.top-text a{
  color: var( --main-blue-vesion2);
  text-decoration: none;
}
.top-text:hover{
  cursor: pointer;
}
.appointment {
  flex: 0 0 300px;
  box-shadow: 0 1px 1rem -4px #000;
  background: var(--back-ground);
  margin: 0.75rem;
  padding: 7px;
  overflow: hidden;
  border-radius: 7px;
  cursor: pointer;
  
  transition: all 250ms ease-in-out;
}
.appointment:hover {
  box-shadow: 0 4px 1rem -4px #000;
  transform: translateY(-3px);
}

.appointment .doctor .image-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.appointment .doctor .image-text .image img {

  border-radius: 50%;
}

.text-name-doctor .text-name-doctor {
  margin-bottom: 3px;
  color: var(--text-dark-blue);
  font-size: 1.7rem;
  font-weight: 500;
}

.name-rating {
  display: flex;
  justify-content: space-between;

}

.rating {
  display: flex;
  gap: 6px;
}

.start {
  margin-top: 4px;
  color: #FFC107;
}

.rating_value {
  margin-left: 52px;
  font-size: 1rem;
  font-weight: bold;
}

.star {
  color: #FFC107;
}

/* start collection */
.collection .specialization, .location, .fees {
  
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  padding: 2px 2px 0px 0px;
  font-size: 1.1rem;
  border-bottom: 1px solid #d9d9d9;
  height: 31px;
  margin-bottom: 10px;
}

.collection .specialization p, .location p, .fees p{
  margin: 0;
}
.location .location-icon{
  color: #D73F35;
}
.fees .fees-icon{
  color: #2aac51;
}
.available {
  text-align: center;
  letter-spacing: 1px;
  background: var( --main-blue-vesion2);
  padding: 10px 28px;
  border-radius: 2rem;
  justify-content: center;
  display: flex;
  color: var(--text-color-white);
  width: fit-content;
  margin: 9px auto 9px;
}

.available p {
  display: contents;

}