:root{
     --main: #159190;
     --main-blue-vesion2:#0e4067;
     --secondary: 14, 64, 103;
     --text--primary: #262626;
     --gray--text: #8C8C8C;
     --back-ground-white: #f5f5f5;
     --text-color-white: #ffff;
     --text-dark-blue: #0e4067;
     --back-buttun-blue: #0e4067;
 }

.card{
     display: flex;
     width: 100%;
     gap: 2rem;
     flex-direction: row;
     padding: 1rem;
     margin-bottom: 1rem;
     /* height: 25rem; */
}
.results .card .image-top
{
     flex: 0 0 22%;
     min-width: 125px;
}
.results .card .image-top img
{
     border-radius: 50%;
     width: 100%;
}
.card .card-content>div{

     display: flex;
     align-items: center;
     margin-bottom: 0.5rem;
     gap: 0.5rem;
     border-bottom: 1px solid #d9d9d9;
}

.card .card-content>div p{
     margin: 0;
}
.card .card-content .description p{
     font-size: 1.2rem;
}
.card .card-content .email ,.results .card .card-content .name{
     border: none;
}
.card .card-content .email { 
     color: #D73F35;
}
.card .card-content .email p{
     color: var(--text--primary);
     font-weight: bold;
}
.card .card-content .email p:hover {
     text-decoration: underline;
     cursor: pointer;
}
.chat-icon {
     position: relative;
     bottom:0;
     right:0; 
     justify-content: end;
     border: none !important;
     font-size:2rem;
     color: var(--main-blue-vesion2);
     cursor: pointer;
}
/* .appointment-picker{
     width: 100%!important;
     height: 24rem!important;
}
.appointment-picker__col ,.appointment-picker__col--enabled{
     height: 100%!important;
} */