.react-datalist-input__listbox{
    max-height: 200px !important;
    overflow: scroll;
}
.react-datalist-input__listbox::-webkit-scrollbar {
    display: none;
}


@media screen and (max-width: 570px) {
    .search-section .city, .search-section .specialization, .search-section .blood-type {
        display: none;
    } 
}