:root{
  --main:#159190;
  --main-blue-vesion2:#0e4067;
  --text--primary: #262626;
  --gray--text: #8C8C8C;
  --back-ground-white: #f5f5f5;
  --text-color-white: #ffff;
  --text-dark-blue: #0e4067;
  --back-buttun-blue: #0e4067;
}
body
{
  margin: 0;
  padding: 0;
  background: var(--back-ground-white);
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&display=swap');
  color: rgb(var(--text--primary));
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif !important;

}
.logo-container {
  margin: 0px auto 1rem;
  width: 12rem;
  height: 5rem;
}
.image-logo
{
  width: 100%;
}
.image-left
{
  width: 100%;
  margin-top: 2rem;
}
.login-image {
  width: 400px;
  height: 400px;
}
.from-sign
{
  background: var( --back-ground-white);
  text-align: center;
}
.flex-input
{
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-wrap: wrap;
}

input ,select {
  margin-bottom: 10px !important;
  direction: rtl;
  outline: none;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1rem !important;
  padding: .6rem !important;
  text-align: center;
  color: var(--text--primary);
}
input 
{
  border: 1.9px solid rgb(13 61 99 / 41%) !important;
}
input:focus{
  border-color: var(--main);
}
.flex-input .seleczt {
  width: 95%;
}
.react-datalist-input__listbox{
  max-height: 200px !important;
  overflow: scroll;
}
.react-datalist-input__listbox::-webkit-scrollbar {
  display: none;
}
.title-top
{
  margin: auto;
    font-size: 2.5rem;
    padding: 3px;
    color: #0e4067;
    font-family: 'Poppins', sans-serif;
    width: fit-content;
    border-bottom: 1px solid rgb(14 64 103);
}
.select {
  width: 95%;
}
.select-patiant
{
  background: var(--main-blue-vesion2);
  border: none;
  border-radius: 0.5rem;
  width: 105%;
  color: white;
  font-weight: 600;
}
.select-patiant option{
  border: 1px var(--secondary);
}
.select-patiant option:hover {
  background-color: var(--main);
}
.login-bottom
{
  border-radius: .5rem;
  background: bottom;
  color: beige;
  background: var(--main-blue-vesion2);
  border: 1px solid gray;
  width: 100%;
  padding: 0.5rem;
} 
.login-signup-image{
  height:'50%'
}

.to-login {
  font-size: .9rem;
  margin: .2rem 1.5rem;
}
.to-login a {
  font-weight: 500;
  padding: .5rem;
  text-decoration: none;
  color:var(--main-blue-vesion2);

}
.to-login a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.from-log {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

@media screen and (max-width: 767px) {
  .login-signup-image {
    display: none;
  }
  .from-log {
    
    margin-top: 3rem;
  }
}


@media screen and (max-width: 990px) {
  .login-image {
    width: 300px;
    height: 300px;
  } 
}